<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>

	<header th:replace="fragments/header :: cabecalho">
		<div>header</div>
	</header>

	<div class="layout-main">
		<aside>
			<nav th:replace="fragments/sidebar :: nav-sidebar">
				<span>menu</span>
			</nav>
		</aside>

		<h3
			style="margin-left: 420px; margin-right: -230px;; margin-top: 50px;">Finalizar
			Pedido</h3>

		<section style="margin-bottom: 400px;"
			class="d-flex align-items-center" layout:fragment="corpo">

			<div class="table-responsive">


			 
				<form th:action="@{/compras/final/{idevento} (idevento=${evento.idevento})}">
				
				<table class="table-striped table-hover table-sm">
						<tr>
									
			
			<!-- 
			 	<div th:each="e : ${itempedido}">

				<div class="row">
					<h4>Subtotal</h4>
				</div>
				<div class="row">
					<p th:text="${e.sub_total}">Nome</p>
				</div>
				</div>
			 -->
				
				
				<td colspan="2"></td>
				
				</table>
				<button type="submit" class="btn btn-primary btn-primary">Finalizar Pedido</button>
				</form>

			</div>
		</section>
	</div>

	<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
	</footer>






	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var url = '';

		$('button[id*="btn_"]').click(function() {
			url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];

		});

		$('#ok_confirm').click(function() {
			document.location.href = url;
		});

		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function() {
			$(".navbar-toggle").click(function() {
				$(".sidebar").toggleClass("sidebar-open");
			})
		});
	</script>
</body>
</html>